<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Edit</title>
    <style>
        body {
            background-color: #2B303A;
            font-family: 'Montserrat', sans-serif;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-control {
            background-color: #fff;
        }
        .btn-custom {
            background-color: #D64933;
            color: white;
        }
        .alert-light {
            color: #2B303A;
            background-color: #fefefe;
            border-color: #fdfdfe;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'edit' data.id %}" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            {% if messages %}
                                <div class="alert alert-light" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group mb-3">
                                <label for="brand">Brand</label>
                                <input type="text" class="form-control" id="brand" name="brand" value="{{ data.brand }}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="type">Type</label>
                                <input type="text" class="form-control" id="type" name="type" value="{{ data.type }}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" id="productName" name="productName" value="{{ data.productName }}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="desc">Description</label>
                                <textarea class="form-control" id="desc" name="desc" rows="3" style="height: 150px;">{{ data.desc }}</textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="price">Price</label>
                                <input type="number" class="form-control" id="price" name="price" value="{{ data.price }}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="quantity">Quantity</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" value="{{ data.quantity }}">
                            </div>
                            <input type="submit" value="Save" class="btn btn-custom">
                            <a href="{% url 'table' %}" class="btn btn-custom">Go back to Table</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
